<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Igor D. Souza</title>
</head>
<body>  
  
    <div class="space" style="display: flex; justify-content: center;
    align-items: center;">  
        <div class="intro" id="intro" >       
            <img id="ovni" src="../img/ovni1.png"/>
            <img id="eu" src="../img/eu.png"/>
        </div>

        <div id='presentation'style="width: 40%;text-align: center;">
            <p id="speak" style="font-size: 40px;"></p>
            <p id="speak2" style="font-size: 35px; margin: 0px; "></p>
        </div>        
    </div>

    <div class="conteudo" data-scroll="left">
        <div style="width: 30%;text-align: center;">
            <p id="speak3" style="font-size: 35px; margin: 0px; "></p>
        </div>    
        <div class="carrosel">
            <img class="centroCarrosel" src="../img/eu2.png"/>
       
            <div class="caixa__card cc__1"><img src="../img/html.png"/>
            </div>
            <div class="caixa__card cc__2"><img src="../img/css.png"/></div>
            <div class="caixa__card cc__3"><img src="../img/js.png"/></div>
            <div class="caixa__card cc__4"><img src="../img/php.png"/></div>
            <div class="caixa__card cc__5"><img src="../img/lar.png"/></div>
            <div class="caixa__card cc__6"><img src="../img/git.png"/></div>
        </div>
       

    </div>


    

    <script src="../js/jsOvni.js"></script>
    <script src="../js/speak.js"></script>
    <script src="../js/scroll.js"></script>


</body>
</html>